/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  /*
  background: fixed center no-repeat url('images/rc-bg.png');
  background-size: cover;
  */
}
/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.greentxt {
  color: darkgreen !important;
  font-family: "Comic Sans MS", Optima, serif;
}

#sign-up-button {
  color: white;
  width: 200px;
}

#landing-title {
  font-size: 64px;
  font-family: "Bungee Spice", sans-serif;
}

.prof-card-master{
  max-height: 450px;
  /*max-width: 300px;*/
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

.prof-card {
  position: relative;
  transition: filter 0.2s;
  z-index: 0;
}

.prof-card.highlight {
  filter: drop-shadow(0px 0px 12px rgba(30, 100, 0, 0.9));
  background-color: rgb(150, 200, 100);
  z-index: 2;
}

.select-button {
  /* Style Select button here*/
}

.prof-card-footer{
  margin-top: -48px;
  height: 48px;
  z-index: 3;
}

.prof-card-container {
  position: relative;
}

.arrow-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.arrow-down svg {
  font-size: 20px;
  opacity: 50%;
  color: darkolivegreen;
}
